div#menu {
	position: relative;
    padding: 20px 0 130px 0;
    background: #f2e3b4;
}
div#menu-bar {
	position: sticky;
	top: 37px;
	left: 0;
	z-index: 4;
	width: 898px;
	height: 50px;
	padding-left: 262px;
	background: white;
}
div#menu-bar a {
	position: relative;
	display: inline-block;
	padding: 11px 39.5px 10px 2px;
	font-size: 24px;
    font-weight: 300;
	text-transform: uppercase;
	color: #395442;
}
div#menu-bar a::after {
	content: "";
	position: absolute;
	left: calc(50% - 28.75px);
	bottom: 1px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 5px;
	border: 6px solid transparent;
    border-bottom: 8px solid #395442;
	opacity: 0;
	transition: all .3s ease-in-out;
}
div#menu-bar a:hover::after {
	opacity: 1;
}
div#menu div.row{
	display: flex;
}
div#menu div.col {
	width: 50%;
	padding-left: 30px;
	color: #395442;
}
div#menu div.col h2 {
	position: relative;
	z-index: 1;
	margin: 0 0 80px 0;
	font-size: 180px;
    line-height: 180px;
    font-weight: 800;
	letter-spacing: 14px;
	text-transform: uppercase;
    color: #fff;  
}
div#menu div.row:first-child div.col p {
	width: 60%;
	margin-bottom: 216px;
	padding-right: 15px;
	color: #333;
}
div#menu div.col:nth-child(2) {
	padding-left: 0;
}
div#menu div.col h3 {
	margin: 0 0 30px 0;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
	text-transform: uppercase;
}
div#menu div.col h4 {
	margin-bottom: 10px;
	font-size: 18px;
    line-height: 18px;
    font-weight: 400;
	text-transform: uppercase;
}
div#menu div.col p {
	margin: 0 0 10.5px;
}
div#menu div.col ul {
	margin: 0 0 100px 0;
    padding-left: 40px;
}
div#menu div.col ul li {
	margin-bottom: 22px;
	font-size: 17px;
}
div#menu div.col ul li strong {
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
}